:root {
  /* grid */
  --container-max-width: 1300px;
  --container-padding: 3rem;
  --container-padding-sm: 1rem;
  /* typography */
  --font-stack-base: "Bricolage Grotesque", system-ui, sans-serif;
  --font-stack-headings: "Hedvig Letters Serif", Georgia, system-ui, sans-serif;
  /* colors */
  --bg-gradient: linear-gradient(165deg, #e3f7f2, #ffffff 30%) no-repeat;
  --divider-color: #405b56;
  --text-heading-color: #13a042;
  --text-color: #232828;
  --text-emphasis-color: #0a1212;
  --text-label-color: #4c5e56;
  --text-accent-color: #3cb765;
  --text-link-color: #027452;
  --text-link-decoration-color: #9df1d8;
  --text-link-hover-color: #006043;
  --text-link-hover-decoration-color: #64e0bb;
  --button-color: #51c176;
  /* Elements */
  --site-header-title-color: #0a1212;
  --site-header-bg-color: #ffffff;
  --site-header-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient: linear-gradient(165deg, #102522, #1b2e2c 60%);
    --site-header-title-color: #ffffff;
    --site-header-bg-color: #0b1614;
    --text-heading-color: #b3facb;
    --text-color: #fefff7;
    --text-emphasis-color: #ffffff;
    --text-label-color: #a8c6be;
    --text-accent-color: #56e384;
    --text-link-color: #56e6bb;
    --text-link-decoration-color: #047352;
    --text-link-hover-color: #afffe7;
    --text-link-hover-decoration-color: #058962;
    --button-color: #51c176;
  }
}

html {
  font-size: clamp(16px, 2vw, 21px);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background: var(--bg-gradient);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  color: var(--text-color);
  font-family: var(--font-stack-base);
  font-weight: 380;
  min-width: 100%;
  min-height: 100%;
}

.container {
  /* width: 100%; */
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (max-width: 801px) {
  .container {
    padding-left: var(--container-padding-sm);
    padding-right: var(--container-padding-sm);
  }
}

/*
 * Utility styles
 */

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

/* 
 * Article typography
 */

a {
  color: var(--text-link-color);
  text-decoration-color: var(--text-link-decoration-color);
  text-decoration-thickness: 3px;
  transition: text-decoration-color 0.2s ease;
  &:hover {
    text-decoration-color: var(--text-link-hover-decoration-color);
    color: var(--text-link-hover-color);
  }
}

article {
  header {
    margin-bottom: 1.7rem;
    h1 {
      margin-bottom: 0.67rem;
    }
    .subtitle {
      font-size: 1.2rem;
      font-weight: 270;
      color: var(--text-label-color);
    }
  }
  p,
  li {
    font-family: var(--font-stack-text);
    font-feature-settings: "onum";
  }
  p,
  ul,
  blockquote {
    margin-bottom: 1rem;
  }
  li {
    margin-bottom: 0.9rem;
  }
  h1 {
    font-family: var(--font-stack-headings);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }
  h2,
  h3,
  h4 {
    margin-bottom: 0.45em;
  }
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    margin-top: 2.5rem;
  }
  h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: 300;
  }
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 1.6rem !important;
  }
  p em strong {
    font-weight: 400;
    font-style: normal;
    font-variant-caps: all-small-caps;
  }
  sup {
    padding-left: 5px;
    padding-right: 0px;
    font-family: var(--font-stack-base);
    font-size: 0.75rem;
    font-feature-settings: "tnum";
  }
  blockquote {
    font-style: italic;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  ul {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    li {
      list-style: none;
    }
  }
}

#site-header {
  > div {
    padding: var(--site-header-padding) 0;
    position: relative;
    z-index: 2;
  }
  > svg {
    position: relative;
    bottom: 54px;
    z-index: 1;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
    path {
      @media (prefers-color-scheme: dark) {
        fill: rgb(0, 0, 0);
        fill-opacity: 0.12;
      }
    }
  }
  .title {
    font-family: var(--font-stack-headings);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--site-header-title-color);
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    .app-icon {
      width: 2rem;
      height: 2rem;
    }
  }
  .container > ul {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}

body:not(#home) #site-header {
  position: fixed;
  width: 100%;
  > div {
    background-color: var(--site-header-bg-color);
  }
}

body:not(#home) #content {
  padding-top: calc(var(--site-header-padding) + 5.5rem);
}

#site-footer {
  padding: 2rem 0;
  p,
  li {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-stretch: 81%;
    letter-spacing: 0.01em;
  }
  .disclaimer {
    margin-left: 1rem;
    text-align: right;
    span {
      display: block;
    }
  }
}

/*
 * Home page
 */

body#home {
  .details {
    font-family: var(--font-stack-headings);
    max-width: 470px;
    font-size: 1.7rem;
    line-height: 1.25;
    margin-left: auto;
    margin-right: auto;
    strong {
      font-family: var(--font-stack-base);
      &.strong-1 {
        color: #49b66e;
      }
      &.strong-2 {
        color: #dbac00;
      }
      &.strong-3 {
        color: #f03d55;
      }
    }
  }
  .app-icon {
    max-width: 230px;
    width: 40vw;
    margin: 0 auto;
  }
  #actions {
    display: flex;
    padding: 0;
    gap: 1.5rem;
    justify-content: center;
    li {
      list-style: none;
    }
    a {
      display: block;
      text-align: center;
    }
    span {
      display: block;
      font-size: 0.9rem;
      line-height: 1.4;
      text-align: center;
    }
  }
}

/* All other pages */

#content {
  display: flex;
  margin-bottom: 3rem;
  #pages-list {
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    > ol {
      padding: 0;
    }
    li {
      list-style: none;
      margin-bottom: 0.5rem;
      ol {
        margin-top: 0.3rem;
        padding-left: 1rem;
      }
    }
    #pages-list-heading {
      text-transform: uppercase;
      font-size: 0.85em;
      margin-bottom: 1rem;
    }
  }
  hr {
    width: 50%;
    min-width: 300px;
    margin: 3rem auto;
    height: 1px;
    background-color: var(--divider-color);
    border: none;
  }
  .pagination-divider {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  #page-headings {
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  #page-pagination {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
}
