<footer id="site-footer">
	<nav class="site-nav container">
		<ul>
			<li><a href="">GitHub</a></li>
			<li><a href="">License</a></li>
		</ul>
		<p class="disclaimer"><span>Choicelab is a trademark of Austin Heller</span><span class="sr-only">.</span><span>A Skeleton Ship Production</span><span class="sr-only">.</span></p>
	</nav>
</footer>
<script type="module" src="/_js/index.js"></script>
</body>
</html>