{% include "./_header.njk" %}

{% set pageHeadings = content | extractHeadings %}
<div id="content" class="container">
<nav id="pages-list">
    {% if page.url.startsWith("/docs/") %}
    {% include "./_page-nav.njk" %}
    {% endif %}
	</nav>
  <main>
    <article>
		<header>
        	<h1>{{ title }}</h1>
      	  	{% if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
	  	</header>
      {{ content | safe }}
      {% if page.url.startsWith("/docs/") %}
	  <hr class="pagination-divider">
      {% set adjacent = collections.docsFlatPages | docsAdjacentPages(page.url) %}
      {% include "./_page-pagination.njk" %}
      {% endif %}
    </article>
  </main>
  <nav id="page-headings">
  {% if pageHeadings.length %}
      <ol>
        {% for heading in pageHeadings %}
        <li><a href="#{{ heading.anchor }}">{{ heading.text }}</a></li>
        {% endfor %}
      </ol>
  {% endif %}
  </nav>
</div>

{% include "./_footer.njk" %}
